@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

body {
 background-color:  #2171a7;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer-bg {
  background: linear-gradient(90deg, #e5e7eb 0%, #f3f4f6 50%, #e5e7eb 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
